/* Global Style */
body {background-color: #483D8B}

/* HOME
------------------------------------*/
.home {
    background: url(../images/istockphoto-148970525-1024x1024.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto;
}
.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}



/* Text Color and Font */
h1{
    color: aliceblue;
}

h1 {
    font-family:"Lobster", sans-serif;
    font-size: 2.5rem;
}

h2, h3 {
    font-family: "Playfair Display", serif;
}

/* Content Style */

.subject-info{
    font-size: 24px;
    font-style : italic;
    font-family : math;
}

.sub-font{
    font-style:bold;
    font-size:20px;
    font-family: 'Times New Roman';
}

.celcius-container {
    text-align:center;
}

.result-container { 
    display: flex;
    justify-content: space-evenly;
}

.textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5f5;
    font-size: 15px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
  }

.buttonarea {
    height: 32px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.purplethird {
    background-color: #9932CC;
    color: white;
}

.purple{
    background-color: #a881af ;
    color : white
}

.purplesecond{
    background-color:#80669d ;
    color: white;
}


/*Profile*/


/* Footer */
footer {
    background: rgb(251, 248, 248);
}

.footer-text{
    color: black;
}